<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Form test</title>
  </head>
  <body>
    <p>Form submitted</p>
    <p>First name:</p>
    <p>{{ .fname }}</p>
    <p>Last name:</p>
    <p>{{ .lname }}</p>
  </body>
</html>